
        <div class="breadcrumb_background">
            <div class="title_full">
                <div class="container a-center">
                    <p class="title_page">Liên hệ</p>
                </div>
            </div>
        </div>
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 a-left">
                        <ul class="breadcrumb" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                            <li class="home">
                                <a itemprop="url" href="index.html"><span itemprop="title">Trang chủ</span></a>
                                <span class="mr_lr">&nbsp;/&nbsp;</span>
                            </li>

                            <li><strong><span itemprop="title">Liên hệ</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="page_contact">
            <div class="container">
                <div class="wrap_background_aside padding-top-45 margin-bottom-70">
                    <div class="row">
                        <div class="form_wrap col-lg-7 col-md-6 col-sm-12 col-xs-12">
                            <div class="section right_contact">
                                <div class="page-login page_cotact">
                                    <h2 class="title-head-contact a-left"><span>Liên hệ với chúng tôi</span></h2>
                                    <p class="text_des" style="margin-bottom: 40px;"></p>
                                    <div id="pagelogin" class="hidden">
                                        <form accept-charset="utf-8" action="https://computing.edu.vn/contact" id="contact" method="post">
                                            <input name="FormType" type="hidden" value="contact" />
                                            <input name="utf8" type="hidden" value="true" /><input type="hidden" id="Token-9244ac9f6fac479595b82efe4a545513" name="Token" />
                                            <script src="../www.google.com/recaptcha/apif78f.js?render=6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK"></script>
                                            <script>
                                                grecaptcha.ready(function () {
                                                    grecaptcha.execute("6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK", { action: "/contact" })
                                                        .then(function (token) {
                                                            document.getElementById("Token-9244ac9f6fac479595b82efe4a545513").value = token
                                                        });
                                                });
                                            </script>


                                            <div class="form-signup clearfix">
                                                <div class="row group_contact">
                                                    <fieldset class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <input placeholder="Họ và tên" type="text" class="form-control  form-control-lg" required value="" name="contact[Name]">
                                                    </fieldset>
                                                    <fieldset class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <input placeholder="Số điện thoại" type="number" pattern="\d+" class="form-control form-control-comment form-control-lg" name="Phone" required>
                                                    </fieldset>
                                                    <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <input placeholder="Email" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" required id="email1" class="form-control form-control-lg" value="" name="contact[email]">
                                                    </fieldset>
                                                    <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <textarea placeholder="Nội dung" name="contact[body]" id="comment" class="form-control content-area form-control-lg" rows="5" required></textarea>
                                                    </fieldset>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                                        <button type="submit" class="btn btn-primary btn-lienhe">Gửi liên hệ</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                    <div id="pagelogin" class="form-coment content_module">
                                        <form accept-charset="utf-8" action="https://computing.edu.vn/contact" id="contact" method="post">
                                            <input name="FormType" type="hidden" value="contact" />
                                            <input name="utf8" type="hidden" value="true" /><input type="hidden" id="Token-b5558b480e9c4b3782e221649846f3e6" name="Token" />
                                            <script src="../www.google.com/recaptcha/apif78f.js?render=6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK"></script>
                                            <script>
                                                grecaptcha.ready(function () {
                                                    grecaptcha.execute("6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK", { action: "/contact" })
                                                        .then(function (token) {
                                                            document.getElementById("Token-b5558b480e9c4b3782e221649846f3e6").value = token
                                                        });
                                                });
                                            </script>


                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6">
                                                    <fieldset class="form-group">
                                                        <input type="text" placeholder="Nhập tên" class="input-control" required value="" name="contact[Name]">
                                                    </fieldset>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6">
                                                    <fieldset class="form-group">
                                                        <input type="email" placeholder="Email của bạn" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" required id="email2" class="input-control" value="" name="contact[email]">
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <fieldset class="form-group row">
                                                <textarea id="subject" name="contact[Body]" placeholder="Nhập tin nhắn" rows="5" required class="input-control"></textarea>
                                            </fieldset>
                                            <div class="margin-bottom-fix margin-bottom-50-article clearfix">
                                                <button type="submit" id="send-btn" class="btn button_send button_custome_35 btn-primary">Gửi phản hồi</button>
                                            </div>
                                            <!-- End form mail -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap_background col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <div class="contact">
                                <div class="section contact_info a-center">
                                    <div class="flop">
                                        <div class="fright">
                                            <p>Tổng đài hỗ trợ khách hàng</p>
                                            <a class="fone" href="tel:0987447611">
                                                0987447611
                                            </a>
                                            <p>Tổng đài tư vấn dịch vụ</p>
                                            <a class="fone" href="tel:0987447611">
                                                0987447611
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="section time_work a-center">
                                    <p>Hệ thống cửa hàng</p>
                                    <ul class="address_info flop">
                                        <li>
                                            <span class="city">Trụ sở</span>
                                            <span class="address">
                                                <span>Số 442 Đội Cấn, Quận Ba Đình, Hà Nội</span>
                                            </span>
                                        </li>




                                        <li>
                                            <span class="city">Hà Nội</span>
                                            <span class="address">
                                                <span>Số 266 Đội Cấn, Quận Ba Đình, Hà Nội</span>
                                            </span>
                                        </li>





                                        <li>
                                            <span class="city">TP. Hồ Chí Minh</span>
                                            <span class="address">
                                                <span>Số 70 Lữ Gia, Phường 15, Quận 11, TP. Hồ Chí Minh</span>
                                            </span>
                                        </li>






                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_maps section margin-bottom-0">
                <div class="box-maps">
                    <div class="iFrameMap">
                        <div class="google-map">
                            <div id="contact_map" class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2214.234101995328!2d105.80640409923018!3d21.037365453004117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab15a9a9e3c1%3A0x85597af3d21a3b04!2zNDQyIMSQ4buZaSBD4bqlbiwgQ-G7kW5nIFbhu4ssIEJhIMSQw6xuaCwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1468478721163" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

