<section class="awe-section-2">

    <div class="hed-service section_service">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="owl-carousel owl-theme" data-dot="false" data-nav='false' data-loop='true' data-play='true'
                         data-lg-items='3' data-md-items='3' data-sm-items='2' data-xs-items="1" data-margin='30'>
                        <div class="item">
                            <div class="service-item">
                                <a class="icon-service">
                                    <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/icon1.png?1594811922421" alt="Giao hàng miễn phí">
                                </a>
                                <div class="service">
                                    <span class="service-title">Giao hàng miễn phí</span>
                                    <span class="service-subtitle">Áp dụng cho đơn hàng trên 500.000đ tại Hà Nội và TP. HCM</span>
                                </div>
                            </div>
                        </div>

                        <div class="item">



                            <div class="service-item">
                                <a class="icon-service">
                                    <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/icon2.png?1594811922421" alt="Tri ân khách hàng ">
                                </a>
                                <div class="service">
                                    <span class="service-title">Tri ân khách hàng </span>
                                    <span class="service-subtitle">Ưu đãi cực lớn, giảm thêm 10% cho khách hàng thân thiết</span>
                                </div>
                            </div>
                        </div>

                        <div class="item">



                            <div class="service-item">
                                <a class="icon-service">
                                    <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/icon3.png?1594811922421" alt="Đổi trả trong 30 ngày">
                                </a>
                                <div class="service">
                                    <span class="service-title">Đổi trả trong 30 ngày</span>
                                    <span class="service-subtitle">Dịch vụ đổi trả, hoàn tiền nhanh chóng với tất cả sản phẩm</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>