<section class="awe-section-5">
    <section class="section section_bestsale">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section title_module_main">
                        <h2 class="h2">
                            <a href="san-pham-noi-bat.html" title="Sản phẩm bán chạy">Sản phẩm bán chạy</a>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">




                            <div class="content_module">
                                <div class="wrap_content">
                                    <div class="owl_col_section owlbestsale owl-carousel" data-dot="false" data-nav="true" data-lg-items="3" data-md-items="3"
                                         data-autoheight="true" data-xs-items="1" data-sm-items="2" data-margin="30">


                                        <div class="item_product_main itemcustome best_sale">





















































                                            <div class="product-box product-item-main product-main-list-mini">

                                                <div class="product-thumbnail">

                                                    <a title="Xem nhanh" href="iphone-xr-128gb.html" data-handle="iphone-xr-128gb" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                                    </a>


                                                    <a class="image_thumb p_img" href="iphone-xr-128gb.html" title="iPhone XR 128GB">
                                                        <img src="contents/images-icons/loading0446.gif?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/10-1.png?v=1544578028000" alt="iPhone XR 128GB">
                                                    </a>

                                                </div>
                                                <div class="product-info product-bottom">

                                                    <div class="reviews_item_product active a-left">
                                                        <div class="bizweb-product-reviews-badge a-left" data-id="13351058"></div>
                                                    </div>

                                                    <h3 class="product-title">
                                                        <a href="iphone-xr-128gb.html" title="iPhone XR 128GB">iPhone XR 128GB</a>
                                                    </h3>

                                                    <div class="blockprice ">
                                                        <div class="product-item-price price-box">



                                                            <span class="price-style">
                                                                <span class="old-price">27.000.000₫</span>
                                                            </span>

                                                            <span class="price-style">
                                                                <span class="special-price">24.900.000₫</span>
                                                            </span>


                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="readmore" title="Xem chi tiết">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item_product_main itemcustome best_sale">















































                                            <div class="product-box product-item-main product-main-list-mini">

                                                <div class="product-thumbnail">

                                                    <a title="Xem nhanh" href="xiaomi-pocophone-f1.html" data-handle="xiaomi-pocophone-f1" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                                    </a>


                                                    <a class="image_thumb p_img" href="xiaomi-pocophone-f1.html" title="Xiaomi Pocophone F1">
                                                        <img src="contents/images-icons/loading0446.gif?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/3-jpeg.jpg" alt="Xiaomi Pocophone F1">
                                                    </a>

                                                </div>
                                                <div class="product-info product-bottom">

                                                    <div class="reviews_item_product active a-left">
                                                        <div class="bizweb-product-reviews-badge a-left" data-id="13342920"></div>
                                                    </div>

                                                    <h3 class="product-title">
                                                        <a href="xiaomi-pocophone-f1.html" title="Xiaomi Pocophone F1">Xiaomi Pocophone F1</a>
                                                    </h3>

                                                    <div class="blockprice ">
                                                        <div class="product-item-price price-box">



                                                            <span class="price-style">
                                                                <span class="old-price">8.500.000₫</span>
                                                            </span>

                                                            <span class="price-style">
                                                                <span class="special-price">8.100.000₫</span>
                                                            </span>


                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="readmore" title="Xem chi tiết">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item_product_main itemcustome best_sale">















































                                            <div class="product-box product-item-main product-main-list-mini">

                                                <div class="product-thumbnail">

                                                    <a title="Xem nhanh" href="asus-zenfone-5-ze620kl.html" data-handle="asus-zenfone-5-ze620kl" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                                    </a>


                                                    <a class="image_thumb p_img" href="asus-zenfone-5-ze620kl.html" title="Asus Zenfone 5 (ZE620KL)">
                                                        <img src="contents/images-icons/loading0446.gif?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/8-3.jpg?v=1544436321587" alt="Asus Zenfone 5 (ZE620KL)">
                                                    </a>

                                                </div>
                                                <div class="product-info product-bottom">

                                                    <div class="reviews_item_product active a-left">
                                                        <div class="bizweb-product-reviews-badge a-left" data-id="13342907"></div>
                                                    </div>

                                                    <h3 class="product-title">
                                                        <a href="asus-zenfone-5-ze620kl.html" title="Asus Zenfone 5 (ZE620KL)">Asus Zenfone 5 (ZE620KL)</a>
                                                    </h3>

                                                    <div class="blockprice ">
                                                        <div class="product-item-price price-box">



                                                            <span class="price-style">
                                                                <span class="old-price">10.000.000₫</span>
                                                            </span>

                                                            <span class="price-style">
                                                                <span class="special-price">7.990.000₫</span>
                                                            </span>


                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="readmore" title="Xem chi tiết">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item_product_main itemcustome best_sale">
































                                            <div class="product-box product-item-main product-main-list-mini">

                                                <div class="product-thumbnail">

                                                    <a title="Xem nhanh" href="sony-xperia-xa1-plus.html" data-handle="sony-xperia-xa1-plus" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                                    </a>


                                                    <a class="image_thumb p_img" href="sony-xperia-xa1-plus.html" title="Sony Xperia XA1 Plus">
                                                        <img src="contents/images-icons/loading0446.gif?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/7-1.jpg?v=1544436130857" alt="Sony Xperia XA1 Plus">
                                                    </a>

                                                </div>
                                                <div class="product-info product-bottom">

                                                    <div class="reviews_item_product active a-left">
                                                        <div class="bizweb-product-reviews-badge a-left" data-id="13342892"></div>
                                                    </div>

                                                    <h3 class="product-title">
                                                        <a href="sony-xperia-xa1-plus.html" title="Sony Xperia XA1 Plus">Sony Xperia XA1 Plus</a>
                                                    </h3>

                                                    <div class="blockprice ">
                                                        <div class="product-item-price price-box">


                                                            <span class="price-style">
                                                                <span class="special-price">1.000.000₫</span>
                                                            </span>


                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="readmore" title="Xem chi tiết">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item_product_main itemcustome best_sale">





















































                                            <div class="product-box product-item-main product-main-list-mini">

                                                <div class="product-thumbnail">

                                                    <a title="Xem nhanh" href="huawei-nova-3.html" data-handle="huawei-nova-3" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                                    </a>


                                                    <a class="image_thumb p_img" href="huawei-nova-3.html" title="Huawei Nova 3">
                                                        <img src="contents/images-icons/loading0446.gif?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/6-1.jpg?v=1544435824237" alt="Huawei Nova 3">
                                                    </a>

                                                </div>
                                                <div class="product-info product-bottom">

                                                    <div class="reviews_item_product active a-left">
                                                        <div class="bizweb-product-reviews-badge a-left" data-id="13342832"></div>
                                                    </div>

                                                    <h3 class="product-title">
                                                        <a href="huawei-nova-3.html" title="Huawei Nova 3">Huawei Nova 3</a>
                                                    </h3>

                                                    <div class="blockprice ">
                                                        <div class="product-item-price price-box">



                                                            <span class="price-style">
                                                                <span class="old-price">11.000.000₫</span>
                                                            </span>

                                                            <span class="price-style">
                                                                <span class="special-price">9.900.000₫</span>
                                                            </span>


                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="readmore" title="Xem chi tiết">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item_product_main itemcustome best_sale">















































                                            <div class="product-box product-item-main product-main-list-mini">

                                                <div class="product-thumbnail">

                                                    <a title="Xem nhanh" href="oppo-f9.html" data-handle="oppo-f9" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                                    </a>


                                                    <a class="image_thumb p_img" href="oppo-f9.html" title="OPPO F9">
                                                        <img src="contents/images-icons/loading0446.gif?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/5-1.jpg?v=1544435393253" alt="OPPO F9">
                                                    </a>

                                                </div>
                                                <div class="product-info product-bottom">

                                                    <div class="reviews_item_product active a-left">
                                                        <div class="bizweb-product-reviews-badge a-left" data-id="13342795"></div>
                                                    </div>

                                                    <h3 class="product-title">
                                                        <a href="oppo-f9.html" title="OPPO F9">OPPO F9</a>
                                                    </h3>

                                                    <div class="blockprice ">
                                                        <div class="product-item-price price-box">



                                                            <span class="price-style">
                                                                <span class="old-price">8.500.000₫</span>
                                                            </span>

                                                            <span class="price-style">
                                                                <span class="special-price">7.500.000₫</span>
                                                            </span>


                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="readmore" title="Xem chi tiết">
                                                </a>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
