<footer class="footer ">
    <div class="site-footer">
        <div class="mid-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xsm-12">
                        <div class="row rowsfooter">
                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="widget-ft last social_footer">
                                    <div class="blocklogo">

                                        <a href="index.html" class="logofooter">
                                            <img src="contents/images-icons/logofooter0446.png?1594811922421" alt="logo Computing">
                                        </a>

                                    </div>
                                    <div class="contactfooter">
                                        <div class="flop">
                                            <div class="fright">
                                                <p>Tổng đài hỗ trợ khách hàng</p>
                                                <a class="fone" href="tel:0987447611">
                                                    0987447611
                                                </a>
                                                <p>Tổng đài tư vấn dịch vụ</p>
                                                <a class="fone" href="tel:0987447611">
                                                    0987447611
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                <div class="widget-ft">
                                    <h4 class="title-menu">
                                        <a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapseListMenu02" aria-controls="collapseListMenu02">
                                            Thông tin  <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                    <div class="collapse time_work" id="collapseListMenu02">
                                        <ul class="list-menu">

                                            <li class="li_menu">
                                                <a href="index.html">Trang chủ</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Quy chế hoạt động</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Chính sách bảo mật</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Cửa hàng online</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="lien-he.html">Tuyển dụng</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="lien-he.html">Liên hệ</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="widget-ft ">
                                    <h4 class="title-menu">
                                        <a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapseListMenu03" aria-controls="collapseListMenu03">
                                            Hệ thống cửa hàng <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                    <div class="collapse time_work" id="collapseListMenu03">
                                        <ul class="address_info">
                                            <li>
                                                <span class="city">Trụ sở</span>
                                                <span class="address">
                                                    <span>Số 442 Đội Cấn, Quận Ba Đình, Hà Nội</span>
                                                </span>
                                            </li>




                                            <li>
                                                <span class="city">Hà Nội</span>
                                                <span class="address">
                                                    <span>Số 266 Đội Cấn, Quận Ba Đình, Hà Nội</span>
                                                </span>
                                            </li>





                                            <li>
                                                <span class="city">TP. Hồ Chí Minh</span>
                                                <span class="address">
                                                    <span>Số 70 Lữ Gia, Phường 15, Quận 11, TP. Hồ Chí Minh</span>
                                                </span>
                                            </li>






                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="widget-ft">
                                    <h4 class="title-menu">
                                        <a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapseListMenu04" aria-controls="collapseListMenu04">
                                            Quy định - Chính sách  <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                    <div class="collapse time_work" id="collapseListMenu04">
                                        <ul class="list-menu">

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Chính sách giao nhận</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Bảo mật thông tin</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Chính sách đổi trả</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Chế độ bảo hành</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Chính sách thanh toán</a>
                                            </li>

                                            <li class="li_menu">
                                                <a href="trang-noi-dung-dau-tien.html">Câu hỏi thường gặp</a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section_social">
            <div class="container">
                <div class="social_nav">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-bottom-20">
                            <div class="section title_module_main path">
                                <h2>
                                    <a title="Kết nối với Computing">Kết nối với Computing</a>
                                </h2>
                            </div>
                            <div class="content_module">
                                <div class="">
                                    <ul class="follow_option">

                                        <li class="facebook-c">
                                            <a href="https://www.facebook.com/computing.vn" title="Theo dõi Facebook Computing"><i class="fa fa-facebook"></i></a>
                                        </li>


                                        <li class="twitter-c">
                                            <a href="https://twitter.com/computing.vn" title="Theo dõi Twitter Computing"><i class="fa fa-twitter"></i></a>
                                        </li>


                                        <li class="instagram-c">
                                            <a href="https://instagram.com/computing" title="Theo dõi Instagam Computing"><i class="fa fa-instagram"></i></a>
                                        </li>


                                        <li class="youtube-c">
                                            <a href="https://www.youtube.com/user/computing" title="Theo dõi Youtube Computing"><i class="fa fa-youtube"></i></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <div class="section title_module_main path">
                                <h2>
                                    <a title="Đăng ký nhận tin khuyến mại">Đăng ký nhận tin khuyến mại</a>
                                </h2>
                            </div>
                            <div class="form_km">



                                <form action="https://computing.us19.list-manage.com/subscribe/post?u=2887dcda77021868cccd236ea&amp;id=7ace19f37b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                    <input type="email" value="" placeholder="Nhập email của bạn..." name="EMAIL" id="mail" aria-label="general-newsletter_form-newsletter_email">
                                    <button class="button_subscribe subscribe" name="subscribe" id="subscribe">Đăng ký</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                            <div class="widget-ft">
                                <div class="payment_e">
                                    <div class="a-center">
                                        <div class="iigpay">
                                            <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/payment.png?1594811922421" title="Các hình thức thành toán" alt="Các hình thức thành toán" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg-footer-bottom copyright clearfix">
            <div class="container">
                <div class="inner clearfix">
                    <div class="row tablet">
                        <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 a-center fot_copyright">
                            <span class="wsp">
                                <span class="mobile">
                                    © Bản quyền thuộc về <b><span>Computing</span></b>
                                </span>
                            </span>
                        </div>

                    </div>
                </div>

                <a href="#" id="back-to-top" class="backtop" title="Lên đầu trang"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</footer>
