@model Article
      
        <div class="breadcrumb_background">
            <div class="title_full">
                <div class="container a-center">
                    <h1 class="title_page article-title"><span>@Model.Title</span></h1>
                </div>
            </div>
        </div>
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 a-left">
                        <ul class="breadcrumb" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                            <li class="home">
                                <a itemprop="url" asp-route ="home"><span itemprop="title">Trang chủ</span></a>
                                <span class="mr_lr">&nbsp;/&nbsp;</span>
                            </li>

                            <li>
                        <a itemprop="url" asp-route="ArticleList"><span itemprop="title">Tin tức</span></a>
                                <span class="mr_lr">&nbsp;/&nbsp;</span>
                            </li>
                            <li><strong><span itemprop="title">@Model.Title</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="container article-wraper" itemscope itemtype="https://schema.org/Article">
           
          
            <div class="wrap_background_aside padding-top-15 margin-bottom-10">
                <div class="row">
                    <section class="right-content col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">
                        <div class="box-heading relative">
                        </div>
                        <article class="article-main">
                            @Html.Raw(@Model.Content);
                        </article>
                    </section>

                    <aside class="blog_hai left left-content col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-pull-9 col-md-pull-9">

                        <aside class="aside-item sidebar-category collection-category">
                            <div class="aside-title">
                                <h2 class="title-head margin-top-0 margin-bottom-10"><span>Danh mục tin tức</span></h2>
                            </div>
                            <div class="aside-content">
                                <nav class="nav-category navbar-toggleable-md">
                                    <ul class="nav navbar-pills">



                                        <li class="nav-item lv1">
                                            <a class="nav-link" href="index.html">Trang chủ</a>




                                        <li class="nav-item lv1">
                                            <a class="nav-link" href="gioi-thieu.html">Giới thiệu</a>




                                        <li class="nav-item lv1">
                                            <a class="nav-link" href="collections/collections-all.html">Sản phẩm</a>




                                        <li class="nav-item lv1">
                                            <a href="tin-tuc.html" class="nav-link">Tin tức</a>
                                            <i class="fa fa-angle-right"></i>
                                            <ul class="dropdown-menu">


                                                <li class="nav-item lv2">
                                                    <a class="nav-link" href="tin-moi.html">Tin mới</a>
                                                </li>



                                                <li class="nav-item lv2">
                                                    <a class="nav-link" href="thu-thuat.html">Thủ thuật</a>
                                                </li>



                                                <li class="nav-item lv2">
                                                    <a class="nav-link" href="xu-huong.html">Xu hướng</a>
                                                </li>



                                            </ul>
                                        </li>




                                        <li class="nav-item lv1">
                                            <a class="nav-link" href="lien-he.html">Liên hệ</a>
                                    </ul>
                                </nav>
                            </div>
                        </aside>


                        <vc:vc-article-special/>

                    </aside>

                </div>
            </div>
        </div>